  .div-denuncias {
      width: 100%;
      height: auto;
      padding: 10px;
  }

  .idDenuncia{
    
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 10px;
  }

  .idDenuncias{
    font-size: 15px;
    color: #000;
    font-weight: bold;
  }
  .containerDenuncias {
      height: 400px;
      width: 100%;
      background-color: #f5823b;
      border: 2px solid black;
      padding: 15px;
      margin: 30px;
      border-radius: 10px;

  }

  .nomeAutorPost {
      padding: 5px;
      font-size: 15px;
      text-align: left;
      font-weight: bold;
      color: black;
  }

  .denuncia {
      border: 2px solid black;
      border-radius: 10px;
      cursor: pointer;
      display: flex;
      margin-bottom: 5px;

      height: 80px;
      border-radius: 10px;
      width: 100%;
      align-items: center;
      padding: 10px;
      box-sizing: border-box;
      background-color: #ffffff;
      color: black;
  }

.RespostaDenuncia{
    border: 2px solid black;
      border-radius: 10px;
      cursor: pointer;
      display: flex;
      margin-bottom: 5px;

      height: 100px;
      border-radius: 10px;
      width: 100%;
      align-items: center;
      padding: 10px;
      box-sizing: border-box;
      background-color: #ffffff;
      color: black;
}

.nomeUserDenunciaRespondida{
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    color: black;
}

.messageResposta{
    font-size: 18px;
      color: black;
}

button{
    background-color: transparent;
    padding: 10px;
    
    cursor: pointer;
    font-size: 13px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
   


.btnPendentes:hover,
.btnAceitos:hover {
background-color: #e96c18;
color: aliceblue;
}
  .descDenuncia {
      color: black;
      padding: 5px;
      height: 30px;
      font-size: 13px;
      text-align: left;

  }

  .userDenunciado {

      cursor: pointer;
      display: flex;
      margin-bottom: 10px;

      height: 50px;
      border-radius: 10px;
      width: 100%;
      align-items: center;
      padding: 10px;
      box-sizing: border-box;

  }

  .postDenunciado {
      border: 2px solid black;
      border-radius: 10px;
      margin-bottom: 10px;
      margin-top: 10px;
      height: 150px;
      border-radius: 10px;
      width: 100%;
      align-items: center;
      padding: 10px;

      background-color: #f9f9f9;

  }

  .userAutorPost {
      background-color: rgb(255, 255, 255);
      padding: 5px;
      font-size: 14px;
      color: black;
  }

  .fotoUsuario img {
      width: 40px;
      height: 40px;
      border-radius: 100%;
      object-fit: cover;
      margin-right: 10px;
  }

  .fotoUsuarioDenunciado img {
      width: 35px;
      height: 35px;
      border-radius: 100%;
      object-fit: cover;
      margin-right: 10px;
  }

  .conteudoDenuncia {
      color: #000000;

      flex: 1;
  }

  .tituloDenuncia {
      display: flex;
      font-size: 15px;
      padding: 5px;
      background-color: rgb(253, 253, 253);
  }

  .numeroDenuncia {
      margin-left: 20px;
  }

  .nomeUserDenuncia {

      padding: 5px;
      font-size: 15px;
      font-weight: bold;
      text-align: left;
      color: black;
  }

  .message {
      font-size: 14px;
      color: black;
  }

  .statusResposta {
      padding: 5px;
      color: rgb(0, 0, 0);
      font-size: 12px;
  }

  .painel {
      height: 100%;
      width: 0;
      position: fixed;
      top: 0;
      right: 0;
      background-color: white;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
      box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  }

  .conteudo-painel {
      padding: 20px;
      background-color: #f1f1f1;
  }

  .fechar {
      position: absolute;
      top: 10px;
      right: 25px;
      font-size: 36px;
      cursor: pointer;
  }

  .imgDenunciada {
      float: left;
      width: 45px;
      height: 30px;
      margin-top: 0px;
      border-radius: 3px;
  }

  .responderBtn {
      font-size: 14;
      text-align: center;
      width: 100px;
      align-items: center;
      font-weight: bold;
      color: #fff;
      height: 30px;
      background-color: #FF6E15;
      border-radius: 20px;
      padding-top: 7px;
      font-family: Arial, Helvetica, sans-serif;
  }